$color: #000;
$color-inverse: #fff;
$primary-color-inverse: #fff;
$bg-color: #fff;

/* source: https://mycolor.space/?hex=%23497FFF&sub=1 */
$primary-color: #497fff;
$secondary-color: #f14c00;
$terciary-color: #00A467;

/* source: https://maketintsandshades.com/#497fff,f14c00,00a467 */
$primary-color-light: #5b8cff;
$primary-color-lighter: #80a5ff;
$primary-color-lightest: #a4bfff;

$primary-color-dark: #4272e6;
$primary-color-darker: #3359b3;
$primary-color-darkest: #254080;

$primary-bg-color: #b6ccff;
$primary-bg-color-light: #edf2ff;
$primary-bg-color-dark: #16264c;

$secondary-color-light: #f25e1a;
$secondary-color-lighter: #f5824d;
$secondary-color-lightest: #f8a680;

$secondary-color-dark: #d94400;
$secondary-color-darker: #a93500;
$secondary-color-darkest: #792600;

$secondary-bg-color: #f5824d;
$secondary-bg-color-light: #feede6;
$secondary-bg-color-dark: #601e00;

$font-text: 'Raleway', Tahoma, Geneva, Verdana, sans-serif;
$font-mono: monospace;