@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import "variables";
@import "text";
@import "helpers";

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

@media all and (min-width: 481px) {
}

@media all and (min-width: 840px) {
  .container {
    width: 70vw;

    &.columns {
      display: grid;

      &.split {
        grid-template-columns: repeat(2, 1fr);
      }

      &.left {
        grid-template-columns: 1fr 3fr;

        &.right {
          grid-template-columns: 1fr 3fr 1fr;
        }
      }

      &.right {
        grid-template-columns: 3fr 1fr;
      }
    }
  }
}

@media all and (min-width: 1025px) {
}

.page--header {
  background-color: $primary-bg-color-light;
  padding-top: 5px;
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;

  .container {
    display: flex;
    justify-content: left;
  }
}

.scrolled {
  .page--header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.page--content {
  padding-top: 60px;
  min-height: calc( 100vh - 60px - 31px); /* html - .page--header - .page--footer */
}

.page--footer {
  width: 100%;
  background-color: $primary-bg-color-dark;
  color: $color-inverse;
  text-align: center;
}

.page--part {
  &.skill {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $primary-color-lightest;
    }
  }
}
