@import 'variables';

.main-menu {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-flex;

        li {
            list-style: none;
            padding-right: 0px;
        }

        a,
        a:visited {
            padding: 12px 15px 12px;
            display: inline-block;
            text-decoration: none;
            color: $primary-color-darker;            
            font-size: 1.25em;
            border-top: 2px solid $primary-color-lightest;

            &.router-link-exact-active,
            &:hover,
            &:focus {
                border-top: 2px solid;
            }
        }
    }
}