@import "variables";
.page--part {
    padding: 30px 0 15px;
    background-color: $bg-color;
}
.about {
    
}

.skill {
    background-color: $primary-bg-color-dark;
    padding-top: 30px;
    padding-bottom: 30px;
    color: $primary-color-inverse;
}
