@import 'variables';
.pager {
    margin-bottom: 30px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    margin: 0;
    padding: 3px 5px;
    position: relative;
}

a {
    padding: 3px 5px;    
    -webkit-transition:opacity .3s ease-in 0s;
    -o-transition:opacity .3s ease-in 0s;
    transition:opacity .3s ease-in 0s;
    opacity:.5;
    filter:alpha(opacity=50);
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &.active {
        opacity:1;
    filter:alpha(opacity=1);
    }
}